@using PupaaS.Client.Models

<MudSelect @bind-Value:get="Dough"
           @bind-Value:set="DoughChanged"
           Label="@(Simple? null : "Masa")"
           HelperText="@(Simple ? null : "Seleccione el tipo de masa de la lista")">
    <MudSelectItem T="string?" Value="@(null)"><span class="blue-gray-text">Ninguno</span></MudSelectItem>
    @foreach (var dough in AppParameters.DoughTypes)
    {
        <MudSelectItem Value="@dough">@dough</MudSelectItem>
    }
</MudSelect>

@code
{
    [Parameter] public string? Dough { get; set; }
    [Parameter] public EventCallback<string?> DoughChanged { get; set; }
    [Parameter] public bool Simple { get; set; }
}